<div class="pubitem" style="display: flex; align-items: flex-start; margin-bottom:2em;">
  <div>
    <img src="{{ .Get "img" }}" style="max-width:450px; height:auto; margin-right: 1.5em;">
    <div style="font-weight:bold; font-size:1.2em;">{{ .Get "title" }}</div>
    <div style="color:#555;">{{ .Get "authors" }}</div>
    <div style="color:#888;">{{ .Get "venue" }}{{ with .Get "year" }}, {{ . }}{{ end }}</div>
    {{ if .Get "pdf" }}
      <div><a href="{{ .Get "link" }}" target="_blank">pdf</a></div>
    {{ end }}
    {{ .Inner }}
    <br>
  </div>
</div>
